{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "modules": false,
      "shippedProposals": true,
      "targets": {
        "chrome": 59,
        "safari": "10.1",
        "firefox": 55,
        "edge": 15
      },
      "debug": true
    }]
  ]
}
